<div *ngIf="object" [formGroup]="form">
  <div [ngSwitch]="object.controlType">
    <div *ngSwitchCase="'textbox'">
      <mat-form-field hideRequiredMarker appearance="outline" [id]="object.id">
        <mat-label>{{object.label}}</mat-label>
        <input matInput mask="000-00-0000" [required]="object.required" [formControlName]="object.id" [(ngModel)]="object.id" />
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearField(object.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'dropdown'">
      <mat-form-field hideRequiredMarker appearance="outline" [id]="object.id">
        <mat-label>{{object.label}}</mat-label>
        <select [id]="object.id" [formControlName]="object.id" [required]="object.required">
          <option *ngFor="let opt of object.options" [value]="opt.id">{{opt.value}}</option>
        </select>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'radiobutton'">
      <mat-form-field hideRequiredMarker appearance="outline" [id]="object.id">
        <div *ngFor="let opt of object.options">
          <mat-label>{{object.label}}</mat-label>
          <input type="radio" [id]="opt.id" [value]="opt.value" [required]="object.required">
        </div>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="'date'">
      <mat-form-field hideRequiredMarker appearance="outline" [id]="object.id">
        <mat-label>{{object.label}}</mat-label>
        <input matInput mask="MM/DD/YYYY" [required]="object.required" [formControlName]="object.id" [(ngModel)]="object.id">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="object.id=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>